<div class="login">
	<div class="ui middle aligned center aligned grid buttonGrid">
		<div class="two column row">
			<div class="five wide column">
				<img class="ui tiny right floated image" *ngIf="loggedInUser" [src]="loggedInUser?.photoURL">
			</div>
			<div class="eleven wide center aligned column">
				<h1 class="ui header">{{ loggedInUser?.displayName }}</h1>
				<button class="ui large left attached button" (click)="login()" [disabled]="loggedInUser">Login</button>
				<button class="ui large right attached button" (click)="logout()" [disabled]="loggedInUser === null">Logout</button>
				<a href="" routerLink="/rooms/1337">Go to room</a>
			</div>
		</div>
	</div>
</div>
